#contacts.container   
  h2 ООО «Медикал Системс» 
  p Юридический адрес: 420004, г. Казань, ул. Горьковское шоссе 17, кв. 78. 
  p Почтовый адрес: 420072, г. Казань, ул. Петербургская 52, офис/блок 43/29. 
  p ОГРН 1201600033964, ИНН/КПП 1656113786/165601001