#contacts.container   
  h2 ООО «Медикал Системс» 
  p 420072, г. Казань, ул. Петербургская 52, офис/блок 43/29. 
  p ОГРН 1201600033964, ИНН/КПП 1656113786/165601001
  p 
    a(href="/doc/ps.pdf") Пользовательское соглашение