#masterhead
  .container

    div

      h1 Pillbox
      h3 Все Ваши назначения у Вас в смартфоне, находите лекарства в ближайших аптеках по лучшей цене!

      .masterhead-buttons
        a.dwbtn.app-store(href="#") AppStore
        a.dwbtn.google-play(href="#") Google Play
    div
      img(src="./img/phone-head.png")

