#subhead
  .container
    div
      img(src="./img/pillbox-r.svg")

    div 
      p 
        a(name="about") 
        | PillBox - это мобильное приложение для упрощения процесса приобретения выписанных врачом назначений.

    