#top-nav
  .container
    img.top-nav-logo(src="./img/logo.svg" width="44" height="44" alt="")
    nav
      a(href="#about") Что такое PillBox?
      a(href="#works") Как это работает?
      a(href="#why") Преимущества
    a.btn-top-nav(href="#") Скачать приложение
