#why
    .container
        h2 
            a(name="why") 
            | Почему именно PillBox?
        p Скачайте приложение и убедитесь, как удобно им пользоваться!

        .why-not
            div.why-phone-img
                img(src="./img/phone-bottom.png")

            div.why-list
                ul
                    li Электронный рецепт не потеряется и всегда будет под рукой
                    li До покупки сравните цены в аптеках 
                    li Зарезервируйте лекарство перед покупкой 
                    li Для покупки просто покажите фармацевту QR-код из приложения
                    li Приложение напомнит о приеме лекарства
                .buttons 
                    a(href="#") Скачать для iOS
                    a(href="#") Скачать для андроид